*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.anuncio-inicio{
    color: white;
    background: #BFB39B;
    text-align: center;
    font: bold;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
}

.header{
    border: 3px solid green;
    display: flex;
}

.imagen-logo{
    border: 3px solid red;
    display: flex;
    justify-content: left;
}

.imagen-logo img{
    border: 3px solid red;
    width: 140px;
    margin-left: 30px;
}

.contenedor-zona-navegable{
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 580px;

}

.contenedor-zona-navegable nav ul{
    display: flex;
    list-style: none;
}
.contenedor-zona-navegable nav ul li a{
    color:#BFB39B;
    text-decoration: none;
    margin: 20px;
}

.contenedor-zona-navegable nav ul li a:hover{
    color: #8c7d62;
}


.carrito{
    border: 3px solid red;
    display: flex;
    align-items: center;
}

.carrito img{
    border: 3px solid red;
}

.perfil{
    border: 3px solid red;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.perfil img{
    border: 3px solid red;
}

.banner-inicio{
    text-align: center;
    color:white;
    font-weight: bolder;
    background-image: url(../multimedia/remeras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.grid-container{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.grid-item{
    border: 2px solid blue;
    color: #8c7d61;
    text-align: center;
}

.grid-container-partes-mobile{
    display: none;
}

.grid-container-partes{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 50px;
    padding-right: 50px;
}

.grid-item-partes img{
    width: 280px;
    border-radius: 5px;
}

.grid-item-partes{
    border: 2px solid blue;
    color: #8c7d61;
    text-align: center;
    padding-top: 20px;
}

.grid-item-boton{
    border: 2px solid blue;
    color: #8c7d61;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boton-partes{
    text-decoration: none;
    background-color: #535927;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.grid-item-boton a:active{
    background-color: #BFB39B;
    color: #535927;
}

.grid-container-productos-mobile{
    display: none;
}

.grid-container-productos{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 50px;
    padding-right: 50px;
}

.grid-item-titulo{
    border: 2px solid red;
    display: grid;
    grid-column: 1/4;
}

.grid-item-productos img{
    width: 300px;
    border-radius: 5px;
}

.grid-item-productos{
    border: 2px solid blue;
    color: #8c7d61;
    text-align: center;
    padding-top: 20px;
}

.grid-item-titulo{
    color: #8c7d61;
    text-align: center;
    padding-top: 30px;
}

.grid-item-boton-productos{
    border: 2px solid blue;
    color: #8c7d61;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 120px;
}

.boton-productos{
    text-decoration: none;
    background-color: #535927;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.grid-item-boton-productos a:active{
    background-color: #BFB39B;
    color: #535927;
}


.grid-item-productos p{
   padding-right: 240px;
   margin-bottom: 5px;
}

.grid-item-productos h5{
   padding-right: 230px;
 }
 
 .grid-item-productos h4{
    padding-right: 163px;
    margin-bottom: 5px;
}

.grid-container-footer{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #BFB39B;
    margin-top: 50px;
    padding-top: 20px;
    color:white
}

.grid-item-footer-1 img{
    width: 140px;
    margin-left: 50px;
}


.grid-item-footer-1{
    border: 2px solid red;
}

.grid-item-footer-2{
    border: 2px solid red;
}

.grid-item-footer-2 ul li a{
    color:#8c7d61;
    text-decoration: none;
} 

.grid-item-footer-2 ul{
    list-style: none;
    color: #8c7d62;
    padding-top: 10px;
} 

.grid-item-footer-2 ul li{
    margin-top: 5px;
    margin-left: 220px;
} 


.grid-item-footer-2 h5{
    margin-left: 220px;
} 

.grid-item-footer-3{
    border: 2px solid red;
}

.grid-item-footer-3 ul li a{
    color:#8c7d61;
    text-decoration: none;
} 

.grid-item-footer-3 ul{
    list-style: none;
    color: #8c7d62;
    padding-top: 10px;
    margin-bottom: 70px;
} 


.grid-item-footer-3 ul li{
    margin-top: 5px;
    margin-left: 30px;
} 

.grid-item-footer-3 h5{
    margin-left: 30px;
} 

.grid-item-footer-4{
    border: 2px solid red;
}

.grid-item-footer-4 ul li a{
    color:#8c7d61;
    text-decoration: none;

} 

.grid-item-footer-4 ul{
    list-style: none;
    color: #8c7d62;
    padding-top: 10px;
}

.grid-item-footer-4 ul li{
    margin-top: 5px;
    margin-left: 20px;
} 

.grid-item-footer-4 h5{
    margin-left: 20px;
} 

.grid-item-footer-5{
    border: 2px solid red;
    grid-column: 1/5;
    text-align: center;
    background-color: #8c7d62;
    color: #BFB39B;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container-footer-mobile{
    display: none;
}

@media (max-width: 425px){
    .anuncio-inicio{
        color: white;
        background: #BFB39B;
        text-align: center;
        font: bold;
        font-size: 8px;
        font-weight: bold;
        padding: 4px;
    }
    
    .contenedor-zona-navegable{
        display: none;
        
    }

    .carrito{
        display: none;
    }

    .perfil{
        display: none;
    }

    .imagen-logo img{
        border: 3px solid red;
        width: 70px;
        margin-left: 1px;
    }

    .banner-inicio{
        text-align: center;
        color:white;
        font-weight: bolder;
        font-size: 10px;
        background-image: url(../multimedia/remeras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .grid-container{
       border: 2px solid blue;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(3,1fr);
       padding-left: 10px;
       padding-right: 10px;
       margin-top: 5px;
    }

    .grid-item{
        border: 2px solid blue;
        color: #8c7d61;
        text-align: center;
        margin-top: 10px;
    }
    
    .grid-item{
        font-size: 12px;
        color: #8c7d61;
        text-align: center;
    }

    .cuotas{
        font-weight: bolder;
    }

    .envios{
        font-weight: bolder;
    }

    .sitio{
        font-weight: bolder;
    }

    .grid-container-partes{
        display: none;
    }

    .grid-container-partes-mobile{
        border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(200px 10px 200px 10px 200px 10px);
    }

    .grid-item-partes-mobile img{
        width: 120px;
        border-radius: 5px;
    }

    .grid-item-partes-mobile{
        border: 2px solid blue;
        color: #8c7d61;
        text-align: center;
        padding-top: 5px;
    }

    .grid-item-boton-mobile{
        border: 2px solid blue;
        color: #8c7d61;
        text-align: center;
    }

    .boton-partes-mobile{
        font-size: 10px;
        text-decoration: none;
        background-color: #535927;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 5px;
    }

    .grid-container-productos{
        display: none;
    }

    .grid-container-productos-mobile{
        border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3);
        margin-top: 15px;
    }

    .grid-item-titulo-mobile{
        border: 2px solid red;
        grid-column: 1/3;
    }

    .grid-item-titulo-mobile h2{
        color: #8c7d61;
        text-align: center;
        font-size: 12px;
    }

    .grid-item-productos-mobile img{
        width: 90px;
        border-radius: 5px;
    }

    .grid-item-productos-mobile{
        border: 2px solid blue;
        color: #8c7d61;
        text-align: center;
        padding-top: 20px;
    }

    .grid-item-boton-productos-mobile{
        border: 2px solid blue;
        color: #8c7d61;
        text-align: center;
        padding-top: 2px;
     
    }

    .boton-productos-mobile{
        font-size: 10px;
        text-decoration: none;
        background-color: #535927;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 5px;
    }

    .grid-item-productos-mobile p{
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
     }

    .grid-item-productos-mobile h4{
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: bold;
    }

    .grid-item-productos-mobile h5{
        font-size: 12px;
        text-align: center;
    }

    .grid-container-footer{
        display: none;
    }

    .grid-container-footer-mobile{
        border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(50px 50px 50px 50px);
        background-color: #BFB39B;
        color:white;
        margin-top: 15px;
    }
    
    .grid-item-footer-mobile1 img{
        width: 80px;
    }
   
    .grid-item-footer-mobile1{
        border: 2px solid red;
    } 

    .grid-item-footer-mobile2{
        border: 2px solid red;
    }

    .grid-item-footer-mobile2 ul li a{
        color:#8c7d61;
        text-decoration: none;
        font-size: 12px;
    }

    .grid-item-footer-mobile2 ul{
        list-style: none;
        color: #8c7d62;
        padding-top: 2px;
    } 
    
    .grid-item-footer-mobile2 ul li{
        margin-top: 2px;
        margin-left: 5px;
        margin-bottom: 2px;
    } 

    .grid-item-footer-mobile2 h5{
        margin-left: 5px;
        padding-top: 2px;
        font-size: 12px;
    } 

    .grid-item-footer-mobile3{
        border: 2px solid red;
    }

    .grid-item-footer-mobile3 ul li a{
        color:#8c7d61;
        text-decoration: none;
        font-size: 12px;
    }

    .grid-item-footer-mobile3 ul{
        list-style: none;
        color: #8c7d62;
        padding-top: 2px;
    } 
    
    .grid-item-footer-mobile3 ul li{
        margin-top: 2px;
        margin-left: 5px;
        margin-bottom: 2px;
    } 
    
    
    .grid-item-footer-mobile3 h5{
        margin-left: 5px;
        padding-top: 2px;
        font-size: 12px;
    } 

    .grid-item-footer-mobile4{
        border: 2px solid red;
    }

    .grid-item-footer-mobile4 ul li a{
        color:#8c7d61;
        text-decoration: none;
        font-size: 12px;
    }

    .grid-item-footer-mobile4 ul{
        list-style: none;
        color: #8c7d62;
        padding-top: 2px;
    } 
    
    .grid-item-footer-mobile4 ul li{
        margin-top: 2px;
        margin-left: 5px;
        margin-bottom: 2px;
    } 
    
    
    .grid-item-footer-mobile4 h5{
        margin-left: 5px;
        padding-top: 2px;
        font-size: 12px;
    } 
    .grid-item-footer-mobile5{
        border: 2px solid red;
        text-align: center;
        background-color: #8c7d62;
        color: #BFB39B;
    }

    .grid-item-footer-mobile5 p{
        font-size: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
      
      







