@import "../utilities/variables";

// BANNER DE LAS PÁGINAS

.banner-tienda{
    text-align: center;
    color: $color-principal;
    font-weight: bolder;
    font-size: 30px;
    background-image: linear-gradient( to bottom, $color-blanco,$color-principal);
    padding-top: 50px;
    padding-bottom: 70px;
}

