@import "../utilities/variables";

// CÓDIGO "INICIO"

main{

    .banner-inicio{
        @extend .banner-tienda;
    }
        
    .grid-container-anuncios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    .grid-item-anuncios{
        color: $color-marron;
        text-align: center;
        .cuotas{
            font-weight: bold;
        }
        .envios{
            font-weight: bold;
        }
        .sitio{
            font-weight: bold;
        }
        }
    }

    .grid-container-partes-mobile{
        display: none;
    }
    
    .grid-container-partes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 50px;
        padding-right: 50px;
        img{
            width: 280px;
            border-radius: 5px;
            box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
            -webkit-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
            -moz-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
            margin-bottom: 5px;
            margin-top: 15px;
        }
        .grid-item-partes{
            color: $color-marron;
            text-align: center;
            padding-top: 20px;
        }
        .grid-item-boton{
            color: $color-marron;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 20px;
            }
            .boton-partes{
                text-decoration: none;
                background-color: $color-verde;
                color: $color-blanco;
                border-radius: 5px;
                &:active{
                    background-color: $color-principal;
                    color: $color-verde;
                }
            }
    }
    
    .grid-container-productos-mobile{
        display: none;
    }
    
    .grid-container-productos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 50px;
        padding-right: 50px;
        .grid-item-titulo{
            display: grid;
            grid-column: 1/4;
            h2{
                color: $color-marron;
                text-align: center;
                padding-top: 50px;
                padding-bottom: 20px;;
            }
        }
        .grid-item-productos{
            color: $color-marron;
            text-align: center;
            padding-top: 20px;
            img{
                width: 300px;
                border-radius: 5px;
                box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -webkit-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -moz-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                margin-bottom: 5px;
            }
            p{
                padding-right: 240px;
                margin-bottom: 5px;
            }
            h4{
                padding-right: 163px;
                margin-bottom: 5px;
            }
            h5{
                padding-right: 230px;
            }
        }
        .grid-item-boton-productos{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 120px;
            margin-top: 5px;
        }
    }  
}

// PÁGINA "NOSOTROS"

main{

    .banner-nosotros{
        @extend .banner-tienda;
    }

    .grid-container-nosotros-mobile{
        display: none;
    }

    .grid-container-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 25px 350px;
        margin: 50px;
        img{
            width: 300px;
            border-radius: 5px;
        }
        .grid-item-titulo-nosotros{
            color: $color-marron;
            font-size: 16px;
            padding-left: 70px;
            font-weight: bold;
        }
        .grid-item-texto-nosotros{
            grid-row: 2/3;
            color: $color-marron;
            font-size: 16px;
            padding-left: 60px;
            p{
                margin: 10px;
            }
        }
        .grid-item-imagen-nosotros{
            grid-row: 1/3;
            display: flex;
            justify-content: center;
        }
    }
}

// PÁGINA "TIENDA"

main{

    .banner-tienda{
        text-align: center;
        color: $color-principal;
        font-weight: bolder;
        font-size: 30px;
        background-image: linear-gradient( to bottom, $color-blanco,$color-principal);
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .grid-container-tienda-mobile{
        display: none;
    }
    
    .grid-container-tienda{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 20px;
       
        .grid-item-tienda{
            color: $color-marron;
            text-align: center;
            padding-top: 20px;
            img{
                width: 200px;
                border-radius: 5px;
                box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -webkit-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -moz-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
            }
        }
        .grid-item-titulo{
            color: $color-marron;
            text-align: center;
            padding-top: 30px;
        }
    
        .grid-item-boton-tienda{

            color: $color-marron;
            font-size: 15px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 63px;
        }
        p{
            padding-right: 140px;
            margin-bottom: 5px;
        }
        h4{
            padding-right: 65px;
            margin-bottom: 5px;
        }
        h5{
            padding-right: 130px;
        }
    }
}

// PÁGINA "CONTACTO"

main{
    
    .banner-contacto{
        @extend .banner-tienda;
    }

    .datos-titulo{
        margin-left: 65px;
        margin-top:  50px;
        h2{
            color: $color-verde;
            font-size: 18px;
            font-weight: lighter;
        }
    }

    .grid-container-contacto{
        display: grid;
        grid-template-columns: repeat(1, 10% 90%);
        margin-right: 800px;
        margin-left: 50px;
        margin-top: 20px;
        .grid-item-iconos{
            text-align: center;
        }
        .grid-item-texto{
            color: $color-verde;
            font-size: 15px;
        }
    }

    .call-center{
        img{
            width: 300px;
            margin-left: 50px;
            margin-top: 10px;
        }
    }
}

// PÁGINA "INFORMACIÓN"

main{
 
    .banner-info{
        @extend .banner-tienda;
    }

    .grid-container-info-mobile{
        display: none;
    }

    .grid-container-info{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 60px;
        padding-right: 60px;
        .grid-item-info{
            color: $color-marron;
            text-align: center;
            padding-top: 20px;
            img{
                width: 300px;
                border-radius: 5px;
                border: 1px solid $color-principal;
                box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -webkit-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                -moz-box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.54);
                margin-bottom: 5px;
            }
            h5{
                text-align: center;
            }
            h4{
                margin-bottom: 2px;
                text-align: center;
            }
            
        }
        .grid-item-titulo{
            color: $color-principal;
            text-align: center;
            padding-top: 30px;
        }
        .grid-item-boton-info{
            color: $color-principal;
            font-size: 15px;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 20px;
            margin-top: 5px;
            .grid-item-boton-info a:active{
                background-color: $color-principal;
                color: $color-verde;
            }
            .boton-info{
                text-decoration: none;
                background-color: $color-verde;
                color: $color-blanco;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-radius: 5px;
            }
        }
        
    }
    
}