@import "../utilities/variables";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: $color-blanco;
    .anuncio-inicio{
        color: $color-blanco;
        background: $color-principal;
        text-align: center;
        font: bold;
        font-size: 15px;
        font-weight: bold;
        padding: 4px;
    }
}